<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Student List</title>
</head>
<body>
<div>
    <h1>All Students:</h1>
    <ul>
        <li th:each="student : ${allStudent}">
            <span th:text="${student}"></span>
            <br>
        </li>
    </ul>
</div>
<div>
    <a th:href="@{~/}">Register a student</a>
</div>
</body>
</html>
